{% extends "layouts/base.html" %}

{% block title %} Profiles {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
    <div class="col-12 mb-4 mt-2">
        <div class="card bg-gray-800 border-0 shadow">
            <div class="row">
                <div class="col-3">
                    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                        <div class="col-12">
                            <p class="fs-5 fw-normal mb-2 text-white">Select Plant</p>
                            <select class="form-select" name="plant-profile" id="plant-profile">
                                {% for plant in plants %}
                                    <option value="{{ config.ASSETS_ROOT }}|{{ plant.plant_name }}">
                                        {{ plant.plant_name }} 
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4 mt-2">
            <div class="card border-0 shadow components-section">
                <div class="card-body">     
                    <div class="row mb-4">
                        <div class="col-lg-4 col-sm-6">
                            <img id="plant-image">
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Info-->
                            <div class="d-block mb-3 mb-sm-0">
                                <h2 class="fs-3 fw-extrabold text-gray-700" id="plant-name"></h2>
                                <div class="fs-5 fw-normal mb-2 text-gray-500" id="plant-info"></div>
                            </div>
                            <!-- End Info -->
                            <hr>
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="drydays">Hours to Remain Dry</label>
                                <input type="number" class="form-control" id="drydays">
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="pumptime">Water pump time (s)</label>
                                <input type="number" class="form-control" id="pumptime">
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="row">
                                <div class="mb-3 col-9">
                                    <label for="imageFile" class="form-label">Upload New Image</label>
                                    <input class="form-control" type="file" id="imageFile">
                                </div>
                                <div class="col-3">
                                    <img id="thumbnail">
                                </div>
                            </div>
                            <!-- End of Form -->
                            <button class="btn btn-lg btn-primary" type="button" id="submit">Submit</button>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Info-->
                            <div class="d-block mb-3 mb-sm-0">
                                <h2 class="fs-3 fw-extrabold text-gray-700">Current Light:</h2>
                                <h2 class="fs-5 fw-extrabold mb-2 text-gray-500" id="current-light"></h2>
                            </div>
                            <!-- End Info -->
                            <!-- Info-->
                            <div class="d-block mb-3 mb-sm-0">
                                <h2 class="fs-3 fw-extrabold text-gray-700">Current Water:</h2>
                                <h2 class="fs-5 fw-extrabold mb-2 text-gray-500" id="current-water"></h2>
                            </div>
                            <!-- End Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    function getProfile(){

        var e = document.getElementById("plant-profile");
        var data = e.options[e.selectedIndex].value.split('|')
        var plantName = data[1];
        var plantImageLoc = data[0] + '/images/'+plantName+'.jpeg';
        //var reader = new FileReader();
        // var plantImage = new Image();
        var light = "{{light}}".substring(1, "{{light}}".length-1).split(',')[e.selectedIndex]+'%'
        var water = "{{water}}".substring(1, "{{water}}".length-1).split(',')[e.selectedIndex]+'%'
        document.getElementById('current-light').innerHTML = light;
        document.getElementById('current-water').innerHTML = water;
        document.getElementById('plant-name').innerHTML = plantName;
        //document.getElementById('plant-image').src = data[0] + 'images/'+plantName+'.jpeg';
        $.getJSON({
            url: "/api/profile", data: {'data': plantName}, success: function (result) {
                document.getElementById('plant-info').innerHTML = result['genus'] + ' ' + result['species'];
                document.getElementById('drydays').value = result['dry_hours']
                document.getElementById('pumptime').value = result['pump_time']
                document.getElementById('plant-image').src = result['image_loc']
            }
        })
    }
    getProfile()
      
    document.getElementById("plant-profile").onchange = getProfile;
</script>

<script>
    window.onload = function() {
        var el = document.getElementById("plant-profile");
        var image_loc = el.options[el.selectedIndex].value
        var fileInput = document.getElementById('imageFile');
        var thumbnail = document.getElementById("thumbnail");

        fileInput.addEventListener('change', function(e) {
            var file = fileInput.files[0];
            var imageType = /image.*/;

            if (file.type.match(imageType)) {
                var reader = new FileReader();

                reader.onload = function(e) {

                    var img = new Image();
                    img.src = reader.result;

                    thumbnail.src = img.src;
                }

                reader.readAsDataURL(file); 
            }
        });

    }
</script>

<script>
    function updatePlant(){

        var e = document.getElementById("plant-profile");
        var data = e.options[e.selectedIndex].value.split('|');
        var plantName = data[1];
        var imageFile = document.getElementById('imageFile').files.item(0)
        var dryHours = document.getElementById("drydays").value;
        var pumpTime = document.getElementById("pumptime").value;
        var putData = {
            "plant_name":plantName,
            "dry_hours":parseInt(dryHours),
            "pump_time":parseInt(pumpTime)
        }
        if (imageFile) {
            img_src = document.getElementById("thumbnail").src
            document.getElementById("plant-image").src = img_src
            putData["image_loc"] = data[0] + '/images/'+ imageFile.name

            postData = {
                "loc":putData['image_loc'],
                "image":img_src
            }
            $.post({
                url:"/api/profile",
                data:JSON.stringify(postData),
                dataType: "json",
                contentType: 'application/json'
            })
        }

        $.ajax({
            type: 'PUT',
                url: '/api/plant/'+plantName,
                contentType: 'application/json',
                data: JSON.stringify(putData), // access in body
            })

    }

    document.getElementById("submit").onclick = updatePlant;
</script>

{% endblock javascripts %}
