{% extends "layouts/base.html" %}

{% block title %} Profiles {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
    <div class="col-12 mb-4 mt-2">
        <div class="card bg-gray-800 border-0 shadow">
            <div class="row">
                <div class="col-3">
                    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                        <div class="col-12">
                            <p class="fs-5 fw-normal mb-2 text-white">Select Plant</p>
                            <select class="form-select" name="plant-profile" id="plant-profile" onchange="plot_trace(this.value)">
                                {% for plant in plants %}
                                    <option value="{{ plant.plant_name }}|{{ plant.genus }}|{{ plant.species }}">
                                        {{ plant.plant_name }} 
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
