{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
    <div class="col-12 mb-4 mt-2">
        <div class="card bg-gray-800 border-0 shadow">
            <div class="row">
                <div class="col-3">
                    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                        <div class="col-12">
                            <p class="fs-5 fw-normal mb-2 text-white">Select Plant</p>
                            <select class="form-select" name="plant-profile" id="plant-profile">
                                {% for plant in plants %}
                                    <option value="{{ config.ASSETS_ROOT }}/images/{{ plant.plant_name }}.jpeg|{{ plant.plant_name }}|{{ plant.genus }}|{{ plant.species }}">
                                        {{ plant.plant_name }} 
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4 mt-2">
            <div class="card border-0 shadow components-section">
                <div class="card-body">     
                    <div class="row mb-4">
                        <div class="col-lg-4 col-sm-6">
                            <img id="plant-image">
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Info-->
                            <div class="d-block mb-3 mb-sm-0">
                                <h2 class="fs-3 fw-extrabold text-gray-700" id="plant-name"></h2>
                                <div class="fs-5 fw-normal mb-2 text-gray-500" id="plant-info"></div>
                            </div>
                            <!-- End Info -->
                            <hr>
                            <!-- Form -->
                            <div class="mb-3">
                                <label for="imageFile" class="form-label">Upload New Image</label>
                                <input class="form-control" type="file" id="imageFile">
                            </div>
                            <!-- End of Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    function getImage(){

        var e = document.getElementById("plant-profile");
        var data = e.options[e.selectedIndex].value.split("|");
        var plantName = data[1]
        var plantInfo = data[2]+' '+data[3]
        document.getElementById('plant-info').innerHTML = plantInfo;
        document.getElementById('plant-name').innerHTML = plantName;
        document.getElementById('plant-image').src = data[0];
    }
    getImage()
      
    document.getElementById("plant-profile").onchange = getImage;
</script>

<script>
    window.onload = function() {
        var el = document.getElementById("plant-profile");
        var image_loc = el.options[el.selectedIndex].value
        var fileInput = document.getElementById('imageFile');
        var plant_image = document.getElementById("plant-image");

        fileInput.addEventListener('change', function(e) {
            var file = fileInput.files[0];
            var imageType = /image.*/;

            if (file.type.match(imageType)) {
                var reader = new FileReader();

                reader.onload = function(e) {

                    var img = new Image();
                    img.src = reader.result;

                    plant_image.src = img.src;
                }

                reader.readAsDataURL(file); 
            }
        });

    }
</script>

{% endblock javascripts %}
