<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>Waterboy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/base.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/vendor.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/main.css">

    <!-- script
   ================================================== -->
    <script src="{{ config.ASSETS_ROOT }}/js/modernizr.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/pace.min.js"></script>

    <!-- favicons
	================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src="{{ config.ASSETS_ROOT }}/images/hero-bg2.jpeg" data-natural-width=2700 data-natural-height=1100>

        <div class="overlay"></div>
        <div class="home-content">        

            <div class="row contents">                     
                <div class="home-content-left">

                    <h3 data-aos="fade-up">Welcome to Waterboy</h3>

                    <h1 data-aos="fade-up">
                        Your houseplant <br>
                        control centre 
                    </h1>

                    <div class="buttons" data-aos="fade-up">
                        <a href="dashboard" font-size="20px">
                            <span class="icon-circle-up" aria-hidden="true"></span>
                            Enter Dashboard
                        </a>
                    </div>                                         

                </div>

                <div class="home-image-right">
                    <img src="{{ config.ASSETS_ROOT }}/images/waterboy_logo.png" 
                        srcset="{{ config.ASSETS_ROOT }}/images/waterboy_logo.png 1x, {{ config.ASSETS_ROOT }}/images/waterboy_logo.png 2x"  
                        data-aos="fade-up">
                </div>
            </div>

        </div> <!-- end home-content -->

    </section> <!-- end home -->  

    <!-- Java Script
    ================================================== -->
    <script src="{{ config.ASSETS_ROOT }}/js/jquery-2.1.3.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/plugins.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/main.js"></script>

</body>

</html>