        <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
          <div class="sidebar-inner px-4 pt-3">
            <ul class="nav flex-column pt-3 pt-md-0">
              <li class="nav-item">
                <a href="/" class="nav-link d-flex align-items-center">
                  <span class="sidebar-icon">
                    <img src="{{ config.ASSETS_ROOT }}/img/icons/flower-rose.svg" height="30" width="30">
                  </span>
                  <span class="mt-1 ms-1 sidebar-text">Home</span>
                </a>
              </li>
              <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a href="/dashboard" class="nav-link">
                  <span class="sidebar-icon">
                    <img src="{{ config.ASSETS_ROOT }}/img/icons/plants-leaf.svg" height="30" width="30">
                  </span> 
                  <span class="sidebar-text">Dashboard</span>
                </a>
              </li>
              <li class="nav-item {% if 'transactions' in segment %} active {% endif %}">
                <a href="/profiles.html" class="nav-link">
                  <span class="sidebar-icon">
                    <img src="{{ config.ASSETS_ROOT }}/img/icons/cactus.svg" height="30" width="30">
                  </span>
                  <span class="sidebar-text">Profiles</span>
                </a>
              </li>
              <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>       
              <li class="nav-item">
                <a target="_blank" 
                   href="https://www.youtube.com/watch?v=eBGIQ7ZuuiU"
                   class="btn btn-secondary d-flex align-items-center justify-content-center btn-upgrade-pro"> 
                  <span>Support</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>